---
layout: page
title: Meet the Members
menutitle: Members
order: 2
---
<div>
	<p>Click on a Halcyon member below to learn more about them!</p>
</div>
<div>
	{% for page in site.members %}
	<div class="member-square">
		<a href="{{ page.url }}"><img src="/assets/members/{{ page.name }}.jpg" alt="{{ page.name }}" style="width:130px;" />{{ page.name }}</a><br/>
		{% if page.active %}					
			<span style="font-size:smaller">Active {{ "now" | date:"%Y" | minus:page.active }} years</span>
		{% endif %}
	</div>
	{% endfor %}
</div>