ul.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navLink {
	display: inline;
	float: right;
	border-left:1px solid #bbb;
}

li.navLink:last-child {
	border-left: none;
}

li.navLink a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

li a:hover:not(.active) {
    background-color: #111;
}

img.fullPad {
	padding: 10px;
}