/* Variables and Dark/light theme*/
:root {
	--bgImage: url("Background.jpg");
	--bg: white;
	--text: #111;
	--padLR: 15px;
	--numCards: 2;
	--gap: 15px;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bgImage: url("Background-dark.jpg");
		--bg: #292929;
		--text: #EEE;
	}	
	header.site-header img.fullPad {
		content:url("/assets/HalcyonLogo-dark.png");
	}
}

/* Undo/tweak some basic stuff from main.css */
header.site-header {
	border-top: 0;
	border-bottom: 1px solid #999;	
}
div.page-content {
	padding-inline: var(--padLR);
	padding-block: 20px;
}
div.page-content:has(.oversize) {
	/* Removes the top padding from home page image */
	padding-top: 0px;
}
div.wrapper {
	padding: 0;
	max-width: 800px;
}
footer.site-footer {
	padding: var(--padLR) 0;
	border-top: 1px solid #999;
}
.footer-col-3 {
	text-align: right;
}
h1.post-title {
	font-family: 'Merienda', cursive;
	font-size: 38px;
	text-align: center;
}
h3 {
	font-family: 'Merienda', cursive;
}
body {
	background: fixed no-repeat top/cover var(--bgImage);
}

/* Nav area */
nav#my-site-nav { 
	line-height:115px;
}
nav#my-site-nav a {
	color: var(--text);
	font-family: 'Merienda', cursive;
	vertical-align:bottom;
}

/* Other personalizations */
.outer {
	background-color: var(--bg);
	color: var(--text);
	margin-inline: auto;
}
.oversize {
	margin-inline: calc(-1 * var(--padLR));
}
.cardSection {
	display: grid;
	grid-template-columns: repeat(var(--numCards), 1fr);
	gap: var(--gap);
}
.cardImg {
	border: 1px solid #999;
	padding: 1px;
}

img.fullPad {
	padding: 10px;
}
a.hoverImage>img {
	display:none;
}
a.hoverImage:hover>img {
	display:block;
	position:fixed;
	max-width: 70%;
	max-height: 80%;
	border-style: ridge;
	top: 120px;
	left: 50%;
	transform: translate(-50%);
	-webkit-animation: fadein 0.7s;
    animation: fadein 0.7s;
}

/* Past concert posters */
.posters {
	display: flex; 
	flex-wrap: wrap;
}
.poster-squares {
	flex-grow: 1;
	flex-basis: 188px;
	max-width: 50%;
	border: 1px solid #e8e8e8;
	background: url(/assets/triangle-tiles.jpg);
}
.poster-squares>a {
	vertical-align: middle;
}
.poster-squares>a>img {
	vertical-align: middle;
}

/* screen-size and other tweaks */
@media screen and (max-height: 600px) {
	a.hoverImage:hover>img {top:9%;}
}
@media screen and (max-width: 700px) {
	.cardDiv {width: 100%;}
	.cardImg {border:none;}
	.cardSection {display: block;}
}
@media screen and (max-width: 600px) {
	.poster-squares {max-width: unset;}
    #my-site-nav {		
		display: inline;
		width: 205px;
		background-color: var(--bg);
		border: 1px solid #999
	}	
	#my-site-nav .page-link {margin-left: 0px;}
	#my-site-nav .page-link:nth-child(odd) {float: left;}
	#my-site-nav .page-link:nth-child(even) {float: right;}
}
@-webkit-keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}	
}
@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
